In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
DATA_DIR = 'data'
COVID_DIR = 'COVID_19'

# 카드 소비 내역

In [6]:
card_df = pd.read_csv(os.path.join('card_20200717.csv'))

In [7]:
card_df['mrhst_induty_cl_nm'] = card_df['mrhst_induty_cl_nm'].str.replace(pat = ' ', repl = '')

In [8]:
gas_station_list = ['주유소', '전기차충전소']
car_list = ['국산 신차', '중고자동차']
train_list = ['철도']

### 주유소

In [9]:
gas_station = preprocessing_utils.category_sum(card_df, gas_station_list)
gas_station['receipt_dttm'] = gas_station['receipt_dttm'].map(preprocessing_utils.make_datetime)
gas_station.columns = ['datetime', 'gas_station_count']
gas_station.set_index('datetime', inplace = True)

NameError: name 'preprocessing_utils' is not defined

In [7]:
gas_station.head()

            gas_station_count
datetime
2020-01-04               5594
2020-01-05               5071
2020-01-06               4577
2020-01-07               4835
2020-01-08               4368

### 자동차

In [8]:
car_df = preprocessing_utils.category_sum(card_df, car_list)
car_df['receipt_dttm'] = car_df['receipt_dttm'].map(preprocessing_utils.make_datetime)
car_df.columns = ['datetime', 'car_df_count']
car_df.set_index('datetime', inplace = True)

In [9]:
car_df.head()

            car_df_count
datetime
2020-01-22             5
2020-01-23            12
2020-01-24            16
2020-01-25             2
2020-01-27             4

### 철도

In [10]:
train_df = preprocessing_utils.category_sum(card_df, train_list)
train_df['receipt_dttm'] = train_df['receipt_dttm'].map(preprocessing_utils.make_datetime)
train_df.columns = ['datetime', 'train_df_count']
train_df.set_index('datetime', inplace = True)

In [11]:
train_df.head()

            train_df_count
datetime
2020-01-22           13646
2020-01-23           12261
2020-01-24           11496
2020-01-25           11472
2020-01-26            7425

## Result

In [12]:
result1 = pd.merge(gas_station, car_df, on = 'datetime')
card_result = pd.merge(result1, train_df, on = 'datetime')

## 코로나 확진자

In [13]:
covid_df = pd.read_csv(os.path.join(COVID_DIR, 'Time.csv'))
covid_df.shape

(163, 7)

In [14]:
covid_df = covid_df[['date', 'confirmed']]

In [15]:
covid_df.columns = ['datetime', 'covid_confirmed']

# Final Result

In [16]:
Fin = pd.merge(card_result, covid_df, on = 'datetime')
Fin

,datetime,gas_station_count,car_df_count,train_df_count,covid_confirmed
0,2020-01-22,51253,5,13646,1
1,2020-01-23,53688,12,12261,1
2,2020-01-24,63793,16,11496,2
3,2020-01-25,43757,2,11472,2
4,2020-01-27,28415,4,7763,4
...,...,...,...,...,...
131,2020-06-10,45611,18,13782,11902
132,2020-06-11,44084,17,13082,11947
133,2020-06-12,48271,19,12886,12003
134,2020-06-13,49530,16,12976,12051
135,2020-06-14,45601,9,12518,12085

In [17]:
Fin.to_csv(os.path.join(DATA_DIR, 'internal_data.csv'), index = False)