In [1]:
import pandas as pd
import os

In [2]:
def find_csv_filenames( path_to_dir, suffix=".csv" ):
    filenames = os.listdir(path_to_dir)
    return [ filename for filename in filenames if filename.endswith( suffix ) ]

In [3]:
data_list = list()
filenames = find_csv_filenames(os.path.join('data'))

for csv_file in filenames:
    data_list.append(os.path.join('data', csv_file))
    
data_list.sort()

In [4]:
bus_list = list()

for data_name in data_list:
    bus_list.append(pd.read_csv(data_name, encoding='cp949'))

In [5]:
for num in range(1, len(bus_list)):
    standard_df = bus_list[num - 1]
    compared_df = bus_list[num]
    print('--------------------------------------')    
    print(f'Are bus_list[{num - 1}] columns equals bus_list[{num}] columns ?')
    print(f'===> {standard_df.columns.equals(compared_df.columns)}')
    for col_name1, col_name2 in zip(standard_df.columns, compared_df.columns):
        if col_name1 != col_name2: print(col_name1, col_name2)
            
        else: pass

--------------------------------------
Are bus_list[0] columns equals bus_list[1] columns ?
===> True
--------------------------------------
Are bus_list[1] columns equals bus_list[2] columns ?
===> True
--------------------------------------
Are bus_list[2] columns equals bus_list[3] columns ?
===> True
--------------------------------------
Are bus_list[3] columns equals bus_list[4] columns ?
===> False
역명 역ID
00시승차총승객수 역명
00시하차총승객수 00시승차총승객수
1시승차총승객수 00시하차총승객수
1시하차총승객수 1시승차총승객수
2시승차총승객수 1시하차총승객수
2시하차총승객수 2시승차총승객수
3시승차총승객수 2시하차총승객수
3시하차총승객수 3시승차총승객수
4시승차총승객수 3시하차총승객수
4시하차총승객수 4시승차총승객수
5시승차총승객수 4시하차총승객수
5시하차총승객수 5시승차총승객수
6시승차총승객수 5시하차총승객수
6시하차총승객수 6시승차총승객수
7시승차총승객수 6시하차총승객수
7시하차총승객수 7시승차총승객수
8시승차총승객수 7시하차총승객수
8시하차총승객수 8시승차총승객수
9시승차총승객수 8시하차총승객수
9시하차총승객수 9시승차총승객수
10시승차총승객수 9시하차총승객수
10시하차총승객수 10시승차총승객수
11시승차총승객수 10시하차총승객수
11시하차총승객수 11시승차총승객수
12시승차총승객수 11시하차총승객수
12시하차총승객수 12시승차총승객수
13시승차총승객수 12시하차총승객수
13시하차총승객수 13시승차총승객수
14시승차총승객수 13시하차총승객수
14시하차총승객수 14시승차총승객수
15시승차총승객수 14시하차총승객수
15시하차총승객수 15시승차총승객수
16시승차총승객수 15시하차총승객수
16시하차총승객수 16시승차총승객수
17시승차총승객수 16시하차총승객수
17시하차총승객수 17시승차총승객수
18시승차총승객수 17시하차총승객수
18시하차총승객수 18시승차총승객수
19시승차총승객수 18시하차총승객수
19시하차총승객수 19시승차총승객수
20시승차총승객수 19시하차총승객수
20시하차총승객수 20시승차총승객수
21시승차총승객수 20시하차총승객수
21시하차총승객수 21시승차총승객수
22시승차총승객수 21시하차총승객수
22시하차총승객수 22시승차총승객수
23시승차총승객수 22시하차총승객수
23시하차총승객수 23시승차총승객수
등록일자 23시하차총승객수
--------------------------------------
Are bus_list[4] columns equals bus_list[5] columns ?
===> True

In [6]:
bus_list[4].iloc[:2, :10]

,사용년월,노선ID,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역ID,역명,00시승차총승객수,00시하차총승객수
0,202005,11110001,100,100번(하계동~용산구청),01003,명륜3가.성대입구,0,0,0,0
1,202005,11110001,100,100번(하계동~용산구청),02156,을지로입구.로얄호텔,180,21,0,0

In [7]:
bus_list[4].iloc[:2, -5:]

   22시승차총승객수  22시하차총승객수  23시승차총승객수  23시하차총승객수  등록일자
0         58         15   20200603        NaN   NaN
1        130         31   20200603        NaN   NaN

### 문제 원인

In [8]:
bus_list[3][bus_list[3]['역명'] == '명륜3가.성대입구'].iloc[:2, :8]

,사용년월,노선ID,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수
0,202004,11110001,100,100번(하계동~용산구청),100000003,1003,명륜3가.성대입구,0
224,202004,11110003,102,102번(상계동~동대문),100000003,1003,명륜3가.성대입구,1

In [9]:
bus_list[4][bus_list[4]['버스정류장ARS번호'] == '명륜3가.성대입구'].iloc[:2, :8]

       사용년월      노선ID 노선번호             노선명 표준버스정류장ID 버스정류장ARS번호  역ID  역명
0    202005  11110001  100  100번(하계동~용산구청)     01003  명륜3가.성대입구    0   0
224  202005  11110003  102   102번(상계동~동대문)     01003  명륜3가.성대입구    2   3

### 해결

In [10]:
columns_for_Apr_May = ['사용년월', '노선ID', '노선번호', '노선명', '표준버스정류장ID', '버스정류장ARS번호',
       '00시승차총승객수', '00시하차총승객수', '1시승차총승객수', '1시하차총승객수', '2시승차총승객수',
       '2시하차총승객수', '3시승차총승객수', '3시하차총승객수', '4시승차총승객수', '4시하차총승객수', '5시승차총승객수',
       '5시하차총승객수', '6시승차총승객수', '6시하차총승객수', '7시승차총승객수', '7시하차총승객수', '8시승차총승객수',
       '8시하차총승객수', '9시승차총승객수', '9시하차총승객수', '10시승차총승객수', '10시하차총승객수',
       '11시승차총승객수', '11시하차총승객수', '12시승차총승객수', '12시하차총승객수', '13시승차총승객수',
       '13시하차총승객수', '14시승차총승객수', '14시하차총승객수', '15시승차총승객수', '15시하차총승객수',
       '16시승차총승객수', '16시하차총승객수', '17시승차총승객수', '17시하차총승객수', '18시승차총승객수',
       '18시하차총승객수', '19시승차총승객수', '19시하차총승객수', '20시승차총승객수', '20시하차총승객수',
       '21시승차총승객수', '21시하차총승객수', '22시승차총승객수', '22시하차총승객수', '23시승차총승객수',
       '23시하차총승객수']

In [11]:
bus_list[4] = bus_list[4].iloc[:, :-3]
bus_list[4].columns = columns_for_Apr_May 

bus_list[5] = bus_list[5].iloc[:, :-3]
bus_list[5].columns = columns_for_Apr_May

In [12]:
def drop_columns(x):
    x = x.drop(['역명', '등록일자'], axis = 1)
    return x

In [13]:
bus_list_Jan2Apr = list(map(drop_columns, bus_list[:4]))

In [14]:
bus_list_May2Jun = bus_list[4:]

In [15]:
pd.concat(bus_list_Jan2Apr + bus_list_May2Jun, axis = 0)['사용년월'].unique()

array([202001, 202002, 202003, 202004, 202005, 202006])

---

In [16]:
bus_df = pd.concat(bus_list_Jan2Apr + bus_list_May2Jun, axis = 0)
bus_df.shape

(211286, 54)

In [17]:
onboard_col_list = bus_df.columns[bus_df.columns.str.contains('승차')]
onboard_col_list

Index(['00시승차총승객수', '1시승차총승객수', '2시승차총승객수', '3시승차총승객수', '4시승차총승객수', '5시승차총승객수',
       '6시승차총승객수', '7시승차총승객수', '8시승차총승객수', '9시승차총승객수', '10시승차총승객수',
       '11시승차총승객수', '12시승차총승객수', '13시승차총승객수', '14시승차총승객수', '15시승차총승객수',
       '16시승차총승객수', '17시승차총승객수', '18시승차총승객수', '19시승차총승객수', '20시승차총승객수',
       '21시승차총승객수', '22시승차총승객수', '23시승차총승객수'],
      dtype='object')

In [18]:
monthly_total = bus_df.groupby('사용년월')[onboard_col_list].sum().sum(1).to_frame().reset_index()
monthly_total.columns = ['datetime', 'bus_onboard_count']
monthly_total['datetime'] = monthly_total['datetime'].map(lambda x : str(x)[:4]+"-"+str(x)[4:])

In [19]:
monthly_total

  datetime  bus_onboard_count
0  2020-01          143735067
1  2020-02          123177424
2  2020-03          105279908
3  2020-04          110367524
4  2020-05          121441625
5  2020-06           59099275

In [20]:
bus_df.to_csv('bus_df.csv', index=False)