In [1]:
import pandas as pd
import numpy as np
import os

import preprocessing_utils

In [2]:
DATA_DIR = 'data'

In [3]:
SUBWAY_CSV_FILES = [os.path.join(DATA_DIR, BUS_DIR, name) for name in os.listdir(os.path.join(DATA_DIR)) if name.endswith('csv')]

In [4]:
SUBWAY_CSV_FILES

['data/bus/CARD_SUBWAY_MONTH_202003.csv',
 'data/bus/CARD_SUBWAY_MONTH_202004.csv',
 'data/bus/CARD_SUBWAY_MONTH_202006.csv',
 'data/bus/CARD_SUBWAY_MONTH_202001.csv',
 'data/bus/CARD_SUBWAY_MONTH_202005.csv',
 'data/bus/CARD_SUBWAY_MONTH_202002.csv']

In [5]:
subway_list = list()

for file in SUBWAY_CSV_FILES:
    try:
        tmp_df = pd.read_csv(file, encoding = 'cp949', index_col = False)
    except:
        tmp_df = pd.read_csv(file, encoding = 'utf-8', index_col = False)

    subway_list.append(tmp_df)

In [6]:
subway_df = pd.concat(subway_list)
subway_df.shape

(107483, 7)

In [7]:
subway_df['사용일자'] = subway_df['사용일자'].map(preprocessing_utils.make_datetime)

In [8]:
subway_result = subway_df.groupby('사용일자', as_index = False)['승차총승객수'].sum()
subway_result.columns = ['datetime', 'subway_onboard_count']

In [9]:
subway_result.head()

     datetime  subway_onboard_count
0  2020-01-01             3479698.0
1  2020-01-02             7691529.0
2  2020-01-03             8224917.0
3  2020-01-04             6042529.0
4  2020-01-05             4425521.0

In [11]:
subway_result.to_csv(os.path.join(DATA_DIR, 'subway_df.csv'), index = False)